%ul      
  -feedin.feed_items.order(published_on: :desc).limit(80).each do |entry|
    %li{ :class => feedin.feed_type }
      - if admin?
        %span.save-item{ :data => {:id => entry.id} } save
      %a{:title => remove_html_tags( entry.summary ), :href => entry.item_url, :target => 'blank', :class => 'tooltip'}
        -if feedin.pinterest? or feedin.dribbble?
          =Sanitize.fragment(entry.summary, :elements => ['img', 'p'], :attributes => {'img' => ['src', 'title'] })
        -else
          =entry.title