.cell.feed.intro
  .text-center
    %img{:src => "/img/feed-zombie.png", :alt => "Feed Zombie", :class => "logo"}
    %h4 Feed Zombie
  %p
    A test in aggregation.
  %p
    This page is a clone of my feed, sing up to start cusotmizing yours!