.cell.feed.intro.column
  .cell.fit.title
    %h5.cat-title.cell Feed Zombie
          
  .cell.feed-scroll   

    %p
      You can't kill the feed.
      
      
    %ul.menu
    
      - if loggedin?
        %li 
          %a.category-link.user-link{:title => 'Add Feed', :href => current_user.userurl } Your Playlist
          
      %li
        %a.category-link.main-link{:title => 'Home Feed', :href => '/' } Home Feed
      
      %li
        %a.category-link.tech-link{:title => 'Tech Feed', :href => '/tech' } Tech
      
      %li
        %a.category-link.design-link{:title => 'Design Feed', :href => '/design' } Design
        
      %li
        %a.category-link.entertainment-link{:title => 'Entertainment Feed', :href => '/entertainment' } Entertainment
      
      %li
        %a.category-link.politics-link{:title => 'Politics Feed', :href => '/politics' } Politics
        
      / 
        %li
          %a{:title => 'Preferences', :href => '/preferences'} Manage Feeds
        %li
          %a{:title => 'Show Saved', :href => '#', :class => 'show-saved'} Saved
        %li 
          %a{:title => 'log out', :href => '/logout'} Logout
            
      - if !loggedin?
        %li.login-item
          %a{:title => 'sign up', :href => '/login'} Login/Signup