.cell.feed.intro
  .category-strip.column
    %a.category-link.main-link.cell{:title => 'Home Feed', :href => '/' }
    
    %a.category-link.tech-link.cell{:title => 'Tech Feed', :href => '/tech' }
    
    %a.category-link.design-link.cell{:title => 'Design Feed', :href => '/design' }
    
    %a.category-link.entertainment-link.cell{:title => 'Entertainment Feed', :href => '/entertainment' }
    
    %a.category-link.politics-link.cell{:title => 'Politics Feed', :href => '/politics' }
  
  .text-center
    %img{:src => "/img/feed-zombie.png", :alt => "Feed Zombie", :class => "logo"}

  %p
    A test in aggregation.
  %p
    This page is a clone of my feed, sing up to start cusotmizing yours!