header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:$headerheight;
  width:100%;
  padding:0 1.75rem;;
  background:$gray25;
  z-index:4;
  line-height:35px;
  font-size:.8rem;
  font-weight:bold;
  ul {
    float:right;
    display:inline-block;
    li {
      list-style:none;
      display:inline-block;
      margin-left:.5rem;
    }
  }
  a:link, a:visited {text-decoration:none; color:$gray40;}
  a:active, a:hover {color:$red;}
  
  &:after {
    position: absolute;
  	content: '';
  	z-index:90;
  	left: 0;
  	right: 0;
  	top: 0;
  	height:$headerheight;
  	border-radius: 40% / 20px; 
  	box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    clip: rect($headerheight, auto, 80px, 0);
    transition:all .3s ease-in;
  }
  .saved-alert {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:$headerheight;
    background-color:green;
    color:#fff;
    line-height:$headerheight;
    text-align:center;
    opacity:0;
    transition:all .4s ease-in-out;
  
    -webkit-transform: translate3d(-220px,0,0);
    -moz-transform: translate3d(-220px,0,0);
    -ms-transform: translate3d(-220px,0,0);
    -o-transform: translate3d(-220px,0,0);
    transform: translate3d(-220px,0,0);
  
    .saved & {
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      -o-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity:1;
    }
  
  }
}