body, html {
  background-color:$gray15;
  min-width:100%;
  max-height:100%;
  height:100%;
  color:#fff;
}

body {
  font-family: $font1;
  overflow-y:hidden;
}

a {
  cursor:pointer;
}

#content {
  padding:0 0 0 $strip-width;
  max-height:100%;
  height:100%;
  overflow-y:hidden;
  
  @include scrollbar($gray15, $gray25);
  
  a:link {text-decoration:none; color:$blue;}
  a:visited {color:$gray40;}
  a:active, a:hover {color:$red;}
  
  .feed {
    background-attachment:scroll;
    .feed-scroll {
      @include scrollbar($gray15, $gray25);
    }
    &:nth-child(even) {
      // background:$gray17;
      .feed-scroll {
        // @include scrollbar($gray17, $gray20);
      }
    }
  }
  
  .feed, .saved-items-list {
    //overflow:auto;
    //padding:1rem 1.75rem 3rem;
    
    background-clip: border-box;
    border-left:solid 2px $gray13;
    border-right:solid 2px $gray13;
    @include displayflex;
    padding:0;
            
    @include flex(0,0,20%);
    @media #{$xxlarg-max} { @include flex(0,0,16.666666%) };
    @media #{$xlarge-min} { @include flex(0,0,25%) };
    @media #{$large-min} { @include flex(0,0,33.333333%) };
    @media #{$small-min} { @include flex(0,0,50%) };
    @media #{$mobile-min} { @include flex(0,0,100%) };
    
    .title {
      padding:.5rem 1.75rem 0;
      background-color:rgba(255, 255, 255, 0.05);
      background-clip: border-box;
      height:$titleheight;
      h5 {
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        margin:0;
        padding:0;
        opacity:.4;
        a {
          color:#fff;
        }
        img {
          opacity:.3;
          width:1rem;
          height:auto;
          display:inline-block;
          vertical-align:middle;
          &.dribbble-logo {
            width:1.2rem;
            vertical-align:sub;  
          }
        }
        span {
          font-size:.5rem;
          font-weight:bold;
          vertical-align:top;
          opacity:.2; 
        }
      }
    }
    
    .feed-scroll {
      padding:1rem 1.75rem 3rem;
      overflow:auto;
    }

    
    ul {
      margin:0;
      li {
        padding:.5rem 0 .15rem;
        list-style:none;
        border-bottom:solid 1px $gray25;
        line-height:1.3;
        font-size:.8rem;
        position: relative;
        
        &:hover {
          .item-meta {
            opacity:1;
          }
        }
        a {
          width:100%;
          padding:0;
          display: inline-block;
        }
        &:last-of-type {
          border-bottom:none;
        }
        
        .item-meta {
          opacity:0;
          transition:$material;
          line-height:.8;
          text-align:right;
          span {
            font-weight:500;
            font-size:.3rem;
            color:$gray35;
            text-transform:uppercase;
            margin-left:.5rem;
            cursor:pointer;
            line-height:.8;
            &.tooltip {
              cursor:help;
            }
          }
        }
        
        &.pinterest, &.dribbble {
          text-align:center;
          color:$gray40;
          border-bottom:none;
          padding:.35rem 0 1rem;
          p {
            line-height:1.1;
            margin-bottom:0;
            &:last-of-type {
              display:none;
            }
          }
          a {
            text-align:center;
            width:100%;
            padding-left:14px;
          }
          img {
            display:block;
            margin:0px auto;
            max-width:236px;
            width:100%;
            margin-bottom:.4rem;
          }
        }
        &.dribbble {
          p {display:none;}
        }
      }
    }
    
  }
  
  // Saved
  .saved-items-list {
    position:fixed;
    overflow:auto;
    width:calc( 100% - 50px );
    max-width:400px;
    top:0;
    bottom:0;
    left:$strip-width;
    background:$gray35;
    transition:$material;
    z-index:3;
    
    border-left:none!important;
    border-right:none!important;
    
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    
    @include scrollbar($gray25, $gray30);
    
    .tooltipster-icon, ul li .delete-item {
      color:$gray25;
    }
    
    a:visited {color:$gray20;}
    a:active, a:hover {color:$red;}
    
    .save-item {display:none;}
    .show-saved & {
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      -o-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity:1;
      box-shadow: 3px 0px 18px rgba(0, 0, 0, 0.4);
    }
  }
  
}




// Menu Strip

.menu-strip {
  left:0;
  top:0;
  bottom:0;
  padding:0;
  background-color:$gray30;
  transition:$material;
  width:$strip-width;
  position:absolute;
  @include displayflex;
  z-index:99;
  box-shadow: 3px 0px 18px rgba(0, 0, 0, 0.25);
  padding-bottom:20px;
  
  .logo-square {
    width:$strip-width;
    height:$titleheight;
    padding:2px 0 0 6px;
    background-color:$gray30;
  }
  
  a.cell {
    display:inline-block;
    width:$strip-width;
    height:$strip-width;
    background-color:$gray30;
    vertical-align:top;
    padding:0;
    text-align:center;
    line-height:$strip-width;
    img {
      display:inline-block;
      width:60%;
      height:auto;
      vertical-align:middle;
      opacity:.4;
      transition:$material;
    }

    &:hover {
      background-color:$gray25;
      img {
        opacity:1;
      }
    }
  }
  .show-saved & {
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0);
  }
}


.home.main a.cell.main-link, .home.tech a.cell.tech-link, .home.design a.cell.design-link, .home.entertainment a.cell.entertainment-link, .home.politics a.cell.politics-link {
  background-color:$gray30;
  box-shadow:none;
  &:hover {
    background-color:$gray25;
  }
}

// Menu 
#content .feed ul.menu {
  li {
    padding:0;
  }
  a {
    padding:8px 0;
    width:100%;
  }
  .login-item {
    margin-top:2rem;
  }
}

.user-feed a.user-link, .main a.main-link, .tech a.tech-link, .design a.design-link, .entertainment a.entertainment-link, .politics a.politics-link {
  color:white!important;
}



// Login 

.errors {
  padding-bottom:1rem;
  span {
    display:block;
    padding:.25rem 1rem;
    margin:2px 0;
    font-size:.75rem;
    background-color: rgba(255, 0, 0, 0.25);
    text-align:center;
    color:rgba(255, 255, 255, 0.9);
  }
  
}
