$gray50: hsl(0,0,50);
$gray40: hsl(0,0,40);
$gray35: hsl(0,0,35);
$gray28: hsl(0,0,28);
$gray25: hsl(0,0,25);
$gray20: hsl(0,0,20);
$gray17: hsl(0,0,17);
$gray15: hsl(0,0,15);
$gray13: hsl(0,0,13);
$gray10: hsl(0,0,10);
$gray05: hsl(0,0,05);

$blue: #9ccded;
$red: #f15a3b;

$headerheight: 35px;

$font1: 'Helvetica Neue', Arial, Helvetica, sans-serif;

@mixin scrollbar {
  &::-webkit-scrollbar {background: $gray17;width:6px;}
  &::-webkit-scrollbar-thumb {background: $gray20; max-height:100px;}
  &::-webkit-scrollbar-corner {background: $gray17;}
  
  scrollbar-base-color: $gray20;
  scrollbar-3dlight-color: $gray20;
  scrollbar-highlight-color: $gray20;
  scrollbar-track-color: $gray17;
  scrollbar-arrow-color: $gray20;
  scrollbar-shadow-color: $gray20;
  scrollbar-dark-shadow-color: $gray20;
}

@mixin scrollbar-main {
  &::-webkit-scrollbar {background: $gray25;}
  &::-webkit-scrollbar-thumb {background: $gray35;}
  &::-webkit-scrollbar-corner {background: $gray25;}
  
  scrollbar-base-color: $gray35;
  scrollbar-3dlight-color: $gray35;
  scrollbar-highlight-color: $gray35;
  scrollbar-track-color: $gray25;
  scrollbar-arrow-color: $gray35;
  scrollbar-shadow-color: $gray35;
  scrollbar-dark-shadow-color: $gray35;
}



// Media Break Adjustments

$xxlarg-max: "only screen and (min-width: #{123.750rem})"; // < 1980px
$xlarge-min: "only screen and (max-width: #{100rem})"; // > 1600px

$large-min: "only screen and (max-width: #{63.938rem})"; // > 1024px
$medium-min: "only screen and (max-width: #{59.938rem})"; // > 960px

$small-max: "only screen and (min-width: #{47.938rem})"; // < 769px
$small-min: "only screen and (max-width: #{47.938rem})"; // > 768px

$smaller-min: "only screen and (max-width: #{39.938rem})"; // >640px
$mobile-min: "only screen and (max-width: #{29.938rem})"; // >480px