$gray50: hsl(0,0,50);
$gray40: hsl(0,0,40);
$gray35: hsl(0,0,35);
$gray30: hsl(0,0,30);
$gray28: hsl(0,0,28);
$gray25: hsl(0,0,25);
$gray20: hsl(0,0,20);
$gray19: hsl(0,0,19);
$gray18: hsl(0,0,18);
$gray17: hsl(0,0,17);
$gray15: hsl(0,0,15);
$gray13: hsl(0,0,13);
$gray10: hsl(0,0,10);
$gray05: hsl(0,0,05);

$blue: #9ccded;
$red: #f15a3b;

$headerheight: 35px;
$strip-width: 50px;

$font1: 'Helvetica Neue', Arial, Helvetica, sans-serif;

@mixin scrollbar($bar, $track) {
  &::-webkit-scrollbar {background: $bar;width:6px;}
  &::-webkit-scrollbar-thumb {background: $track;}
  &::-webkit-scrollbar-corner {background: $bar;}
  
  scrollbar-base-color: $track;
  scrollbar-3dlight-color: $track;
  scrollbar-highlight-color: $track;
  scrollbar-track-color: $bar;
  scrollbar-arrow-color: $track;
  scrollbar-shadow-color: $track;
  scrollbar-dark-shadow-color: $track;  
}



// Media Break Adjustments

$xxlarg-max: "only screen and (min-width: #{123.750rem})"; // < 1980px
$xlarge-min: "only screen and (max-width: #{100rem})"; // > 1600px

$large-min: "only screen and (max-width: #{63.938rem})"; // > 1024px
$medium-min: "only screen and (max-width: #{59.938rem})"; // > 960px

$small-max: "only screen and (min-width: #{47.938rem})"; // < 769px
$small-min: "only screen and (max-width: #{47.938rem})"; // > 768px

$smaller-min: "only screen and (max-width: #{39.938rem})"; // >640px
$mobile-min: "only screen and (max-width: #{29.938rem})"; // >480px



// Flex Mixin

@mixin flex($flexgrow, $flexshrink, $flexbasis) {
  -webkit-flex-grow: $flexgrow;
  -webkit-flex-shrink: $flexshrink;
  -webkit-flex-basis: $flexbasis;
  -ms-flex: $flexgrow $flexshrink $flexbasis;
  flex: $flexgrow $flexshrink $flexbasis;
}

@mixin displayflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
