.modal-overlay {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:0;
  width:100%;
  background:rgba(0, 0, 0, 0.6);
  z-index:999;
  overflow:hidden;
  .modal & {
    bottom:0;
    height:100%;
  }
  .modal-container {
    width:90%;
    max-width:440px;
    min-height:300px;
    margin:140px auto 20px;
    background-color:$gray30;
    box-shadow:$selectedshadow;
    .modal-title {
      padding:0 20px;
      h2 {
        font-weight:200;
        font-size:2rem;
        text-transform:uppercase;
        display:inline-block;
        padding-top:.25rem;
        color: rgba($red, .3);
      }
      .close {
        display:inline-block;
        font-size:3rem;
        color: $red;
        font-weight:100;
        opacity:.3;
        padding:.4rem 0 .4rem;
        cursor:pointer;
        transition:$material;
        line-height:.6;
        float:right;
        &:hover {
          opacity:.5;
        }
      }
    }
    .modal-body {
      padding:20px;
    }
    
  }
}

