.preferences #content {
  
  #user-feeds {
    li {
      background:$gray20;
      border-bottom:none;
      padding:.5rem .75rem;
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow:hidden;
      margin:.25rem 0;
    } 
    
  }
  
  #trash {
    background:$gray20;
    height:100px;
    padding:.5rem .75rem;
    span {
      color:$gray40;
    }
  }
  
}