.cell.feed
  %h4 Add Site feeds
  
  %form.addfeed_form{:method=>"post", :action=>"/add-global"}
    %label Add Sitewide Feed
    %input#addfeed{:type=>"text", :required => true, :name => 'urls[link]', :placeholder => 'RSS URL'}
  
    %br
    %br
    %br
  
    %ul.checkbox
      -FeedCategory.all.each do |cat| 
        %li
          %input.checkbox{:type=>"checkbox", :name => 'feed_categorization[category_id][]', :value => cat.id, :id => cat.category_name }
          %label{:for => cat.category_name }
            =cat.category_name
    
    %br
    
    %input.feedtype{:type=>"hidden", :name => 'urls[feed_type]', :value => 'global' }
    
    %button{:type=>"submit"} +

    %br
    %br
    %br
    
  %form.addcategory_form{:method=>"post", :action=>"/add-feed-category"}
    %label Add Category
    %input#addcat{:type=>"text", :required => true, :name => 'category_name', :placeholder => 'Category Name', :class=>"square"}
    
    %button{:type=>"submit", :class=>"square"} +