.cell.feed
  %h4 Add Site feeds
  
  %form.addfeed_form{:method=>"post", :action=>"/add-global"}
    %label Add Feed
    %input#addfeed{:type=>"text", :required => true, :name => 'urls[link]', :placeholder => 'RSS URL', :class=>"square"}
  
    %br
    %br
    %br
  
    %ul.checkbox
      %li
        %input.checkbox{:type=>"checkbox", :name => 'urls[feed_categories][]', :value => 'main'} Main
      %li
        %input.checkbox{:type=>"checkbox", :name => 'urls[feed_categories][]', :value => 'tech'} Tech
      %li
        %input.checkbox{:type=>"checkbox", :name => 'urls[feed_categories][]', :value => 'design'} Design
      %li
        %input.checkbox{:type=>"checkbox", :name => 'urls[feed_categories][]', :value => 'entertainment'} Entertainment
      %li
        %input.checkbox{:type=>"checkbox", :name => 'urls[feed_categories][]', :value => 'politics'} Politics
    
    %br
    
    %input.feedtype{:type=>"hidden", :name => 'urls[feed_type]', :value => 'global' }
    
    %button{:type=>"submit"} +

.cell.feed 
  %h4 Main
  
  %ul.global-feeds
    -@adminfeeds.each do |feedin|
      -if feedin.feed_categories.include? 'main'    
        %li{ :data => {:id => feedin.id} }
          =feedin.feed_title

.cell.feed 
  %h4 Tech

  %ul.global-feeds
    -@adminfeeds.each do |feedin|
      -if feedin.feed_categories.include? 'tech'    
        %li{ :data => {:id => feedin.id} }
          =feedin.feed_title

  
.cell.feed 
  %h4 Design
  
  %ul.global-feeds
    -@adminfeeds.each do |feedin|
      -if feedin.feed_categories.include? 'design'    
        %li{ :data => {:id => feedin.id} }
          =feedin.feed_title
  
.cell.feed 
  %h4 Entertainment
  
  %ul.global-feeds
    -@adminfeeds.each do |feedin|
      -if feedin.feed_categories.include? 'entertainment'    
        %li{ :data => {:id => feedin.id} }
          =feedin.feed_title
  
.cell.feed 
  %h4 Politics
  
  %ul.global-feeds
    -@adminfeeds.each do |feedin|
      -if feedin.feed_categories.include? 'politics'    
        %li{ :data => {:id => feedin.id} }
          =feedin.feed_title
  
  