=haml :'partials/intro'

      
-@main_category.each do |feed|
  .cell.feed.column
    .cell.fit.title
      %h5.cat-title.cell
        =feed.feed.feed_title
    
    .cell.feed-scroll
      =haml :'partials/feed', :locals => {:feedin => feed.feed}