!!!
%html
  %head
    %title RSS Test
    %link{:href=>"/css/styles.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{:src => "/js/scripts.js"}

  %body{:class => "#{@body_class}"}
    %header  
      .saved-alert Saved
      
      %a{:title => 'home', :href => '/'} Poptart Playlist

      %ul.menu
        - if admin?
          %li 
            %a{:title => 'Add Feed', :href => current_user.userurl } Your Playlist
          %li
            %a{:title => 'Preferences', :href => '/preferences'} Manage Feeds
          %li
            %a{:title => 'Show Saved', :href => '#', :class => 'show-saved'} Saved
          %li 
            %a{:title => 'log out', :href => '/logout'} Logout
        - else
          %li
            %a{:title => 'sign up', :href => '/signup'} Signup
          %li
            %a{:title => 'sign up', :href => '/login'} Login
    
    #content.row.align-stretch.hold.nowrap.justify-start
      
      - if admin?
        .saved-items-list
          %ul.saved-ul 
            -current_user.saved_items.order(created_at: :desc).each do |entry|
              %li
                %a{:title => remove_html_tags( entry.summary ), :href => entry.item_url, :target => 'blank', :class => 'tooltip'}
                  =entry.title
                  
      =yield