!!!
%html
  %head
    %title Feed Zombie / You can't kill RSS
    %link{:href=>"/css/styles.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{:src => "/js/scripts.js"}

  %body{:class => "#{@body_class}"}
        
    .cell.category-strip.column
      %a.category-link.main-link.cell{:title => 'Home Feed', :href => '/' }
      
      %a.category-link.tech-link.cell{:title => 'Tech Feed', :href => '/tech' }
      
      %a.category-link.design-link.cell{:title => 'Design Feed', :href => '/design' }
      
      %a.category-link.entertainment-link.cell{:title => 'Entertainment Feed', :href => '/entertainment' }
      
      %a.category-link.politics-link.cell{:title => 'Politics Feed', :href => '/politics' }
      
      - if loggedin?
        %a.category-link.cell{:title => 'Add Feed', :href => current_user.userurl }
        %a.cell.fit{:title => 'Preferences', :href => '/preferences'}
        %a.cell.fit{:title => 'Show Saved', :href => '#', :class => 'show-saved'}
        
    #content.row.align-stretch.hold.nowrap.justify-start
      
      - if loggedin?
        .saved-items-list
          %ul.saved-ul 
            -current_user.saved_items.order(created_at: :desc).each do |entry|
              %li
                %span.delete-item{ :data => {:id => entry.id} } delete
                %a{:title => remove_html_tags( entry.feed_item.summary ), :href => entry.feed_item.item_url, :target => 'blank', :class => 'tooltip'}
                  =entry.feed_item.title    
                  
      =yield