=haml :'partials/intro'

-@userfeed.user_feeds.order(feed_order: :asc).each do |feedin|  
  .cell.feed.column
    .cell.fit.title
      %h5
        -if feedin.feed.feed_type == "pinterest"
          %img{:src => "/img/pinterest.svg", :alt => "pinterest", :class => "pinterest-logo"} 
        -if feedin.feed.feed_type == "dribbble"
          %img{:src => "/img/dribbble.svg", :alt => "pinterest", :class => "dribbble-logo"} 
        =feedin.feed.feed_title
        %span
          (
          =feedin.feed.feed_items.count
          )
    .cell.feed-scroll  
      =haml :'partials/feed', :locals => {:feedin => feedin.feed}