-@userfeed.feeds.each do |feedin|  
  %div.cell.feed
    %h5
      -if feedin.feed_type == "pinterest"
        %img{:src => "/img/pinterest.svg", :alt => "pinterest", :class => "pinterest-logo"} 
      =feedin.feed_title
      %span
        (
        =feedin.feed_items.count
        )
    
    =haml :'partials/feed', :locals => {:feedin => feedin}