=@userfeed.feeds.each do |feedin|  
  %div.cell.feed
    %h5
      =feedin.feed_title
    
    %ul
      - feedin.feed_items.each do |entry|
        %li
          %a{:title => remove_html_tags( entry.summary ), :href => entry.item_url, :target => 'blank', :class => 'tooltip'}
            =entry.title
